<strong>{{content}}</strong>
{{#blocposts}}
	<section class="comments">
		<div class="row">
			<div class="two columns">
				<span>{{#user}}{{name}}{{/user}}</span>
			</div>
			<div class="ten columns">
		      	{{content}}
			</div>
		</div>
	</section>
{{/blocposts}}	