<% content_for :head do %>	
	<script type="text/javascript">
		$(document).ready(function(){
			User.init('edit')
		});
	</script>
<% end %>

<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target=_blank>change</a>
</div>

<div id="google-apis-edit" class="google-apis" data-bind="template: 'reservationTemplate'">
	<h3>Google Services</h3>
	<hr>
	<script id="googleAuthTmpl" type="text/x-jquery-tmpl">
			<label>${ $item.label_text }</label><a data-cid='${cid}' class='${ $item.link_action }'>${ $item.link_text }</a>
	</script>

</div>

