<% content_for :head do %>	
	<script type="text/javascript">
		google.setOnLoadCallback(show_user)
	
		function show_user(){
			$(document).ready(function(){
				User.init('show')
			});
		}
	</script>
<% end %>

<table class="profile" summary="Profile info">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			
			<% if @user.blocs.any? %>
				<table class="blocs" summary="User blocs">
					<% render @blocs %>
				</table>	
			<% end %>
			
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>		
	</tr>	
</table>
<hr>
<div id="user-workspace-container">
	<div id="blocs-sidebar-container">
	</div>
	<div id="blocs-detail-container"></div>
</div>

<script id="blocTmpl" type="text/x-jquery-tmpl">
		<label>Test Label</label>
</script>